*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#71A49E;
    justify-items: center;
}
#main{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #2F595E;
    width: clamp(700px, 50vw, 900px);
    padding: 2rem;
    border-radius: 5px;
    gap: 2vh;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
#main section{
    width: 100%;
}
#addNames{
    padding: 1.5em 1em;
    display: flex;
    background-color: #02343A;
    justify-content: space-around;
    border-radius: 5px;
}  
#typeBar{
    height: 3rem;
    width: 80%;
    color: white;
    border-radius: 5px;
    background-color: #2F595E;
    text-align: center;
    outline: none;
}
#typeBar.normal{
    border: none;
}
#typeBar.error{
    border-color: red;
}
#addNamesBtn{
    background-color: #42A940;
    color: white;
    width: 15%;
    padding: 3px;
    border-radius: 5px;
    border: none;
}
#addNamesBtn:hover{
    transform:scale(1.05) ;
    background-color: #58c956;
}
#names{
    padding: 15px;
    background-color: #02343A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.nameAndTrash{
    display: flex;
    align-items:center;
    padding: 8px;
    justify-content:space-between ;
}
.fa-trash:hover{
    color: red;
}
#generateWinner{
    background-color: #42A940;
    width: 100%;
    padding: 0px 10px;
    color: white;
    border: none;
    height: 7vh;
    border-radius: 5px;
}
#generateWinner:hover{
    transform: scale(1.005);
    background-color:#58c956;
}
#modal{
    background-color: #025940;
    color: #ffffff;
    align-self: center;
    justify-self: center;
    justify-items: center  ;
    align-content: center;
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 35%;
    font-size: 30px;
    translate:0px -100px ;
    animation: slideModal 2s;
}
#imageSection{
    /* width: 100%; */
    justify-self: right;
    margin-right: 15px;
    margin-bottom: 5px
}
#closeModal{
    padding: 8px 6px;
    border-radius: 5px;
    border: solid 1px  #ffffff;
}
#closeModal:hover{
    transform: scale(1.05);
    background-color: rgb(255, 255, 255,  0.3);
}
#winnerName{
    background-color: #28725C;
    text-align: center;
    width: 85%;
    margin-top: 5%;
    border-radius: 5px;
    padding: 15px;  
}
/* modal::backdrop{
    background-color: black;
} */
 .loaderSection i {
    justify-content: center;
    font-size: 2.5em;
 }
.loaderSection{
    display: none ;
    width: 100%;

    height: 10vh;
    background-color: #2F595E;
    justify-items : center;
    align-content: center;
    padding: 10px;
}

@media (max-width:700px ){
    #main{
        width: 85%;
    }
    #addNames{
        flex-direction: column;
        gap: 10px;
    }
    #typeBar{
        width: 100%;
    }
    #addNamesBtn{
        height: 7vh;
        width: 100%;
    }
    #modal{
        width: 60%;
    }
    #generateWinner{
        width: 90%;
    }
    #generateWinner:hover{
        transform: scale(1.05);
    }
}
@keyframes slideModal{
    from{
        transform: translateY(150px)
    }   
    to{
        transform: translateY(0px);
    }
}
/* @keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
} */