*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#71A49E;
    justify-items: center;
}
#main{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #2F595E;
    width: 600px;
    padding: 2rem;
    border-radius: 5px;
    gap: 2vh;
    text-align: center;
    color: white;
}
#addNames{
    padding:10px;
    display: flex;
    background-color: #02343A;
    justify-content: space-around;
    border-radius: 5px;
}  
#barToInsrNames{
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #2F595E;
    text-align: center;
    outline: none;
}
#addNamesBtn{
    background-color: #42A940;
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: none;
}
#names{
    padding: 15px;
    background-color: #02343A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.nameAndTrash{
    display: flex;
    align-items:center;
    padding: 8px;
    justify-content:space-between ;
}
#generateWinner{
    background-color: #42A940;
    color: white;
    border: none;
    height: 7vh;
    border-radius: 5px;
}

@media (max-width:700px ){
    #main{
        width: 85%;
    }
    #addNames{
        flex-direction: column;
        gap: 10px;
    }
    #addNamesBtn{
        height: 7vh;
    }
}